*{
    padding: 0;
    margin: 0;
    color:rgb(7, 6, 6);
 align-items: center;
text-align: center;
background-color: rgb(223, 213, 213);
}
h1{
    background-color: green;
    font-size: 50px;
}

#light{
   background-color: black;
   height: 300px;
   width: 100px; 
   display: flex;
   flex-direction: column;
   text-align: center;
   margin: 50px auto;
   border-radius: 100px;
   align-items: center;
   justify-content: space-between;
   padding: 5px;
/* border: solid rebeccapurple; */
   
   
}
/* .circle{
    background-color: rgba(241, 221, 221, 0.7);
    border-radius: 90%;
    height: 95px;
width: 100px;
position: relative;
} */
.circle-red{ 
    /* background-color: red; */
    border-radius: 90%;
    height: 95px;
width: 100px;
position: relative;
 } 
.yellowplay{
    /* background-color: yellow; */
    border-radius: 90%;
    height: 95px;
width: 100px;
position: relative;
justify-items: center;
/* display: flex; */
text-align: center;
}
.green{
    /* background-color: green; */
    border-radius: 90%;
    height: 95px;
width: 100px;
position: relative;
} 
